@model EarringViewModel

@{
    ViewBag.Title = "Серьги — Ювелирный каталог";
}

<div class="row text-center header animate-in" data-anim-type="fade-in-up">
    <div class="head-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Серьги</h3>
    </div>
</div>
<div class="wrapper-category">
    <div class="container categories scroll">
        @await Component.InvokeAsync("ShowEarringCategory")
    </div>
</div>
<div class="wrapper">
    @foreach (var earring in Model.Earrings)
    {
    <div id="one" asp-controller="Home" asp-action="Earrings" asp-rout-id="@earring.Id">
        @{
            string status = @earring.Availability;
            string color = "lightblue";
            string colorDescription = "white";
            string wordStatus = "В наличии";
            if (status == "Нет в наличии")
            {
                color = "#CDCDCD";
                colorDescription = "#CDCDCD";
                wordStatus = "Нет в наличии";
            }
        }
        <p style="color:@color">@wordStatus</p>
        <p>
            <a asp-controller="Earrings" asp-action="Earring" asp-route-id="@earring.Id" style="color:@colorDescription">
                @Html.Raw(earring.Name)
                <br>
                Цена: @earring.Price рублей
            </a>
        </p>
    </div>
    }
</div>