@model JewelryViewModel

@{
    ViewBag.Title = "Браслеты — Ювелирный каталог";
}

<div class="row text-center header animate-in" data-anim-type="fade-in-up">
    <div class="head-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Браслеты</h3>
    </div>
</div>
<div class="wrapper-category">
    <div class="container categories scroll">
        <div>
            <a asp-controller="Bracelets" asp-action="Index">Все браслеты</a>
            @await Component.InvokeAsync("ShowCategory")
        </div>
    </div>
</div>
<div class="wrapper">
    @foreach (var jewelry in Model.Jewelries)
    {
        @if (@jewelry.Branch == "Браслеты")
        {
            <div id="one" asp-controller="Home" asp-action="Jewelries" asp-rout-id="@jewelry.Id">
                @{
                    string status = jewelry.Availability;
                    string color = "lightblue";
                    string colorDescription = "white";
                    string wordStatus = "В наличии";
                    if (status == "Нет в наличии")
                    {
                        color = "#CDCDCD";
                        colorDescription = "#CDCDCD";
                        wordStatus = "Нет в наличии";
                    }
                }
                <p style="color:@color">@wordStatus</p>
                <p>
                    <a asp-controller="Bracelets" asp-action="Jewelry" asp-route-id="@jewelry.Id" style="color:@colorDescription">
                        @Html.Raw(jewelry.Name)
                        <br>
                        Цена: @jewelry.Price рублей
                    </a>
                </p>
            </div>
        }
    }
</div>
